body {
  background-image: url("1624381529_19-phonoteka_org-p-oboi-na-rabochii-stol-listya-krasivo-19.jpg");
  background-repeat: no-repeat;
}
h1 {
  color: white;
  text-align: center;
}

p {
  font-family: arial;
  font-size: 20px;
  color: white;
}